.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
  font-family: arial;
}
.clearfix::after {
  content: "";
  display: block;
  clear:both;
}
p {
  font-family: arial;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: arial;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: arial;
}
h3 {
  font-size: 17px;
  font-weight: bold;
  font-family: arial;
}
body {
  font-size: 17px;
  font-family: arial;
}
.header {
  overflow: hidden;
  background-color: #03a3df;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #03a3df;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.container {
    position: relative;
    text-align: left;
    color: white;
}
.top-left {
    position: absolute;
    padding: 1rem;
    color: white;
    top: 8px;
    left: 16px;
}
/* a:link {
    color: white;
} */
.grid-container {
  border: 1px solid lightblue;
  line: black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 80px 200px 80px 80px 100px;
  grid-gap: 30px 30px;
}
